{%extends "group/group_base.html"%}
{%block leftspan6%}
<h3>{{group.name}}<small>来自</small></h3>
<hr>
<div class="well">
	创建于{{group.birthday|date:"Y-m-d H:i:s"}}
</div>
<hr>
<div class="span2">
<h4>最近小组话题</h4>
</div>

<div id="topic_outer">
{%if current_user in group.get_member_list%}
<div class="offset5" id="topic_button">
<button class="btn btn-success span2" data-toggle="modal" data-target="#myModal">发布话题</button>
</div>
{%endif%}
</div>

<hr class="span7">
{%if group.get_topic_list%}
<table class="table table-hover">
	<thead>
		<tr>
			<td>话题</td>
			<td>回应/阅</td>
			<td>最后回应</td>
			<td>作者</td>
		</tr>
	</thead>
	
	<tbody>
		{%for topic in group.get_topic_list%}
		<tr>
			<td><a href="/group/{{group.url_number}}/topic/{{topic.url_number}}/">{{topic.title}}</a></td>
			<td>{{topic.replys}}/{{topic.clicks}}</td>
			<td>{{topic.update_time|date:"Y-m-d H:i:s"}}</td>
			<td><a href="/people/{{topic.creator.user.url_number}}/">{{topic.creator.user.public_profile.realname}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
	

</table>
{%else%}
<div class="span2"><h1>没有话题</h1></div>
{%endif%}

{%endblock%}

{%block rightspan3%}
<div class="row">
	<div class="span3">
		<div class="thumbnail">
			<img src="{{group.logo}}">
			<div id="outer">
				<div id="enter_button">
					&nbsp;
					{%if current_user in group.get_member_list%}

					<button class="btn btn-block btn-danger" id="quit">
						退出小组
					</button>
					{%else%}
						<button class="btn btn-block btn-success" id="enter">
							加入小组
						</button>
	
					{%endif%}
				</div>
				
			</div>
		</div>
	</div>

	<div class="span3">
		<hr>
		<p align="center">
			-----小组成员------
		</p>
		<div id="member_list">
		{%if group.get_member_list%}
		<ul class="thumbnails">
			{%for user in group.get_member_list%}
			<li class="span1">
				<a class="thumbnail" href="/people/{{user.url_number}}/"> <img src="{{user.public_profile.face}}"> </a>
			</li>
			{%endfor%}
		</ul>
		{%else%}
		<p>无</p>
		{%endif%}
		</div>
	</div>
</div>
{%endblock%}
{%block otherbody%}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">话题</h3>
	</div>
	<div class="modal-body" style="
	margin-left: 120px;">
		<form class="span3" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-primary" type="submit">发布</button>
		</form>
	</div>
</div>
{%endblock%}
{%block otherscript%}
<script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>

<script type="text/javascript">
$().ready(function(){
	$('#quit').live('click',function quit () {
		$.post("{%url group.views.quitgroup group.url_number%}",
		function () {
			$('#outer').load(location.href+' #enter_button');
			$('#topic_outer').load(location.href+' #topic_button');
			$('#member_list').load(location.href+' #member_list');
			
		});
	});
	
	$('#enter').live('click',function enter () {
		$.post("{%url group.views.entergroup group.url_number%}",
		function () {
			$('#outer').load(location.href+' #enter_button');
			$('#topic_outer').load(location.href+' #topic_button');
			$('#member_list').load(location.href+' #member_list');
			
		});
	});
	
});
</script>
					

{%endblock%}
