{%extends "group/group_base.html"%}
{%block leftspan6%}

<div class="span7 media">
	<hr>
	<a class="pull-left span1" href="/people/{{topic.creator.user.url_number}}/"> <img class="media-object" src="{{topic.creator.user.public_profile.face}}"> </a>
	<div class="media-body">
		<h3 class="media-heading">{{topic.title}}</h3>
		来自<a href="/people/{{topic.creator.user.url_number}}/">{{topic.creator.user.public_profile.realname}}</a><small class="muted">&nbsp;&nbsp;&nbsp;{{topic.creat_time|date:"Y-m-d H:i:s"}}</small>
		<hr>
		<p>{{topic.content}}</p>
		<hr>
		<p class="text-right">
		{%ifequal current_user topic.creator.user%}
		- <span><a>修改</a></span>
		{%endifequal%}
		{%if current_user in group.get_admin_list%}
		 - <span><a>置顶</a></span> - <span><a>禁止回应</a></span> - <span><a>删除</a></span>
		{%endif%}
		
		
		</p>
	</div>
</div>
<hr>
<div class="span8 media">
	{%for post in topic.get_post_list%}
	<div class="span7 media">
		<hr>
		<a class="pull-left span1" href="/people/{{post.author.url_number}}/"> <img class="media-object" src="{{post.author.public_profile.face}}"> </a>
		<div class="media-body">
			<a class="media-heading" href="/people/{{post.author.url_number}}/">{{post.author.public_profile.realname}}</a>
			<span class="muted" style="float: right;height: 16px;"><small>{{post.creat_time|date:"Y-m-d H:i:s"}}</small></span>
			<p>{{post.content}}</p>
		</div>
	</div>
	{%endfor%}
	
</div>
<div class="span7">
	<hr>
</div>



<div id="reply" class="span3 offset2">
{%if current_user in topic.creator.group.get_user_list%}
<form method="post">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit" class="btn btn-primary">回应</button>
</form>
{%else%}
<p>加入小组才能回应</p>
{%endif%}
</div>


{%endblock%}

