{%extends "group/group_base.html"%}
{%block leftspan6%}

<div class="span5 media">
	<hr>
	<a class="pull-left span1" href="/people/{{topic.creator.user.url_number}}/"> <img class="media-object" src="{{topic.creator.user.public_profile.face}}"> </a>
	<div class="media-body">
		<h3 class="media-heading">{{topic.title}}</h3>
		<small>来自<a href="/people/{{topic.creator.user.url_number}}/">{{topic.creator.user.public_profile.realname}}</a>&nbsp;&nbsp;&nbsp;{{topic.creat_time}}</small>
		<hr>
		<p>{{topic.content}}</p>
	</div>
</div>
<hr>
<div class="span5 media">
	{%for post in topic.get_post_list%}
	<div class="span5 media">
		<hr>
		<a class="pull-left span1" href="/people/{{post.author.url_number}}/"> <img class="media-object" src="{{post.author.public_profile.face}}"> </a>
		<div class="media-body">
			<a class="media-heading" href="/people/{{post.author.url_number}}/">{{post.author.public_profile.realname}}</a><small>&nbsp;&nbsp;&nbsp;{{post.creat_time}}</small>
			<p>{{post.content}}</p>
		</div>
	</div>
	{%endfor%}
	
</div>
<div class="span5">
	<hr>
</div>


{%if current_user in topic.creator.group.get_member_list%}
<div class="span3 offset2">
	
<form method="post">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit" class="btn btn-primary">回应</button>
</form>
</div>
{%else%}
<div class="span3 offset2">
	
<p>加入小组才能回应</p>
</div>
{%endif%}

{%endblock%}

{%block rightspan3%}
<div class="row">
	<div class="span3">
		<div class="thumbnail">
			<a href="/group/{{group.url_number}}/"><img src="{{group.logo}}"></a>
			
		</div>
	</div>

	<div class="span3">
		<hr>
		<p align="center">
			-----小组成员------
		</p>
		<div id="member_list">
			{%if group.get_member_list%}
			<ul class="thumbnails">
				{%for user in group.get_member_list%}
				<li class="span1">
					<a class="thumbnail" href="/people/{{user.url_number}}/"> <img src="{{user.public_profile.face}}"> </a>
				</li>
				{%endfor%}
			</ul>
			{%else%}
			<p>
				无
			</p>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}
{%block otherscript%}
<script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>



{%endblock%}
