{%extends "group/group_manage.html"%}
{%block othercss%}
<link href="{{STATIC_URL}}css/bootstrap-fileupload.css" rel="stylesheet"/>
{%endblock%}
{%block tab_nav%}
	<li class="active">
		<a href="../manage_edit/">资料编辑</a>
	</li>
	<li>
		<a href="../manage_members/">成员管理</a>
	</li>
	<li>
		<a href="../manage_advance/">高级设定</a>
	</li>
{%endblock%}

{%block manage_content%}
<div class="span9">
	<form class="form-horizontal" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="span3">
				<div class="fileupload fileupload-new" data-provides="fileupload">
					
					<div class="fileupload-preview thumbnail span3" style="height: 260px"></div>
					<div class="span3">
						
						<span class="btn btn-file"><span class="fileupload-new">选择小组Logo</span><span class="fileupload-exists">换一张</span>
							<input type="file" name="logo" id="id_logo" value=""/>
						</span>
						<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<label class="control-label" for="id_name">小组名称</label>
					<div class="controls">
						<input type="text" id="id_name" name="name" value="{{group.name}}"/>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="id_introduction" >小组简介</label>
					<div class="controls date">
						<textarea type="text" id="id_introduction" name="introduction">{{group.introduction}}</textarea>
					</div>
				</div>
				
				
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-large btn-success" style="margin-left:0px; width: 140px;" type="submit">
							保存
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{%endblock%}
{%block otherscript%}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-fileupload.js"></script>
{%endblock%}
