{%extends "group/my_groups.html"%}
{%block table%}
<table class="table table-hover">
	<thead>
		<tr>
			<td>话题</td>
			<td>回应</td>
			<td>时间</td>
			<td>小组</td>
		</tr>
	</thead>
	<tbody>
		{%for topic in student.grouptopics%}
		<tr>
			<td><a href="http://{{host}}/group/topic/{{topic.url_number}}/">{{topic.title}}</a></td>
			<td>{{topic.replys}}</td>
			<td>{{topic.update_time}}</td>
			<td><a href="http://{{host}}/group/{{topic.owner.url_number}}/">网页设计</a></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}
