{%extends 'group/group_base.html'%}
{%block leftspan6%}
<h3>我的小组话题</small></h3>
<hr>
<ul class="nav nav-tabs" id="myTab">
	{%block tabnav%}
	<li class="active">
		<a href="../my_groups_news">最新话题</a>
	</li>
	<li>
		<a href="../my_groups_creat">我发起的话题</a>
	</li>
	<li>
		<a href="../my_groups_reply">我回应的话题</a>
	</li>
	{%endblock%}
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="home">
		{%if current_user.grouptopics%}
		{%block table%}
		{%endblock%}
		{%else%}
		<h2>无</h2>
		{%endif%}
	</div>
</div>
{%endblock%}
{%block rightspan3%}
<div class="row">

	<div class="span3">
		<p align="center">
			-----管理的小组-----
		</p>
		{%if current_user.get_admin_group%}
		<ul class="thumbnails">
			{%for sgcard in current_user.get_admin_group%}
			<li class="span1">
				<a class="thumbnail" href="/group/{{sgcard.group.url_number}}/"> <img src="{{sgcard.group.logo}}"> </a>
			</li>
			{%endfor%}
		</ul>
		{%else%}
		<p>
			没有需要您管理的小组
		</p>
		{%endif%}
		
	</div>
	<div class="span3">
		<p align="center">
			-----参加的小组------
		</p>
		{%if current_user.get_in_group%}
		<ul class="thumbnails">
			{%for sgcard in current_user.get_in_group%}
			<li class="span1">
				<a class="thumbnail" href="/group/{{sgcard.group.url_number}}/"> <img src="{{sgcard.group.logo}}"> </a>
			</li>
			{%endfor%}
		</ul>
		{%else%}
		<p>
			您还没有加入小组
		</p>
		{%endif%}
		
	</div>
	
</div>
{%endblock%}
{%block otherscript%}
{%endblock%}
