{%extends "accounts/people.html"%}

{%block tab%}
<li class="active">
	<a href="../feeds/">动态</a>
</li>
<li>
	<a href="../profile/">资料</a>
</li>
<li>
	<a href="../corporation/">社团</a>
</li>
<li>
	<a href="../group/">小组</a>
</li>
{%endblock%}
{%block content%}
{%if student.feeds%}
<div class="media">
	{%for feed in student.feeds%}
	<div class="span6 media">
		<hr>
		<a class="pull-left span1" href="/people/{{student.url_number}}/"> <img class="media-object" src="{{student.public_profile.face}}"> </a>
		<div class="media-body">
			<a href="/people/{{student.url_number}}/">{{student.public_profile.realname}}</a>
			<span class="muted" style="float: right;height: 16px;"><small>{{feed.creat_time|date:"Y-m-d H:i:s"}}</small></span>
			
			
			<p>{{feed.content}}</p>
		</div>
	</div>
	{%endfor%}
</div>
{%else%}
<h2>没有关于他的消息</h2>
{%endif%}
{%endblock%}
