{%extends "accounts/people.html"%}
{%block tab%}
<li>
	<a href="../feeds/">动态</a>
</li>
<li>
	<a href="../profile/">资料</a>
</li>
<li>
	<a href="../corporation/">社团</a>
</li>
<li class="active">
	<a href="../group/">小组</a>
</li>
{%endblock%}
{%block content%}
{%if student.get_sgcard%}
<ul class="thumbnails">
	{%for sgcard in student.get_sgcard%}
	<li>
		<a class="pull-left span1" href="/group/{{sgcard.group.url_number}}/"> <img class="media-object" src="{{sgcard.group.logo}}"> </a>
		<div class="media-body">
			<h4 class="media-heading">{{sgcard.group.name}}</h4>
			<p>{{sgcard.group.get_user_list.count}}个成员</p>
		</div>
	</li>
	{%endfor%}
</ul>
{%else%}
<h2>他还没有加入小组</h2>
{%endif%}
{%endblock%}
